.contenedor {
    border: 2px solid black;
    width: 60%;
    height: 300px;
    margin: 0 auto;
}

.contenedor p {
    text-align: justify;
    margin: 15px;
}

.titulo h2 {
    text-align: center;
    color: blue;
    font-family: sans-serif;
}

